
<section>
  <h1 class="text-center  text-main"> Forgot Password</h1>
@if(step == 1){
  <form [formGroup]="verifyEmail" class="bg-main-light rounded-4 shadow p-3"  (ngSubmit)="verifyEmailSubmit()" >
    <div class="my-2">
      <label for="email"> email</label>
      <input  formControlName="email" id="email" type="email" class=" form-control">
      <!-- ///////alert  -->
    </div>
       <button [disabled]="verifyEmail.invalid"    class=" btn-main"> Verify Email</button>
  </form>
}
@else if(step == 2){
  <form [formGroup]="verifycode" class="bg-main-light rounded-4 shadow p-3" (ngsubmit)="verifyCodeSubmit()" >
    <div class="my-2">
      <label for="resetCode">resetCode</label>
      <input  formControlName="resetCode" id="resetCode" type="text" class=" form-control">
      <!-- ///////alert  -->
    </div>
       <button [disabled]="verifycode.invalid"    class=" btn-main"> Verify Code</button>
  </form>

}
@else if (step == 3) {
  <form [formGroup]="resrtPassword" class="bg-main-light rounded-4 shadow p-3"  (ngSubmit)="resetPassworedSubmit( )">
    <div class="my-2">
      <label for="email"> email</label>
      <input  formControlName="email" id="email" type="email" class=" form-control">
      <!-- ///////alert  -->
    </div>

    <div class="my-2">
      <label for="newPassword">newPassword</label>
      <input  formControlName="newPassword" id="newPassword" type="password" class=" form-control">
      <!-- ///////alert  -->
    </div>
       <button [disabled]=" resrtPassword.invalid"    class=" btn-main"> Verify Email</button>
  </form>
}

</section>
