<section>
  <div class="row g-0">
    <div class="col-md-10">
      <div>

        <owl-carousel-o [options]="customOptionsMain">
          <ng-template carouselSlide>
            <img src="./assets/images/slider-image-3.jpeg" height="300px" class="w-100" alt="">
          </ng-template>
          <ng-template carouselSlide>
            <img src="./assets/images/slider-image-2.jpeg" height="300px" class="w-100" alt="">
          </ng-template>
          <ng-template carouselSlide>
            <img src="./assets/images/slider-image-3.jpeg" height="300px" class="w-100" alt="">
          </ng-template>
          <ng-template carouselSlide>
            <img src="./assets/images/slider-2.jpeg" height="300px" class="w-100" alt="">
          </ng-template>
          <ng-template carouselSlide>
            <img src="./assets/images/grocery-banner-2.jpeg" height="300px" class="w-100" alt="">
          </ng-template>
          <ng-template carouselSlide>
            <img src="./assets/images/banner-4.jpeg" height="300px" class="w-100" alt="">
          </ng-template>

        </owl-carousel-o>



      </div>
    </div>
    <div class=" col-md-2">
      <div>
        <img src="./assets/images/slider-image-2.jpeg" height="150px" class="w-100" alt="">
        <img src="./assets/images/slider-image-1.jpeg" height="150px" class="w-100" alt="">
      </div>
    </div>
  </div>

</section>

<!-- section  category -->
<section>
  <h2 class="m-2"> Popular categories</h2>

  <owl-carousel-o [options]="customOptionsCat">
    @for (cat of categorylist; track cat._id) {
    <ng-template carouselSlide>
      <div>
        <img [src]="cat.image" height="250px" class="w-100 " [alt]="cat.name">
        <h3 class="h6 text-main">{{cat.name}} </h3>
      </div>
    </ng-template>
    }
  </owl-carousel-o>

</section>

<!-- section product -->
<section>
  <h2>popular products: </h2>
  <div class="row g-3">
    @for (produt of productList.slice(0,12) ; track produt.id) {
    <div class="col-md-2">
      <div class="product p-2 position-relative">

        @if (!wishlist.includes(produt._id)) {
          <i (click)="addToWishlist(produt.id)" class="fa-regular fa-heart  Heart "></i>
        }

        @if (wishlist.includes(produt.id)) {
          <i (click)="removeFromWishlist(produt.id)"class="fas fa-heart  Heart  fa-2x"></i>
        }


        <div [routerLink]="['/details' , produt.id]">
          <img [src]="produt.imageCover" class="w-100" [alt]="produt.title">
          <h3 class="small text-main">{{produt.category.name | uppercase }}</h3>
          <h4 class="h6">{{produt.title .split(" " ,2).join(" ") }}</h4>

          <div class="d-flex justify-content-between  align-items-center">
            <span> {{produt.price}} EGP</span>
            <div>
              <span><i class="fas fa-star rating-color"></i></span>
              <span class="text-muted">{{produt.ratingsAverage}}</span>
            </div>
          </div>
        </div>
        <button class="btn-main w-100 mt-2" (click)="addcart(produt.id)"> +Add To Card</button>
      </div>
    </div>}
  </div>
</section>
